.modal {
  background-color: white;
  border-radius: 8px;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  position: relative;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.modal-table th,
.modal-table td {
  /* border: 1px solid #ddd; */
  padding: 8px;
  text-align: left;
}

.modal-table th {
  background-color: #009879;
  font-weight: bold;
}

.modal-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.total-cost {
  font-weight: bold;
  margin-top: 20px;
}

.close-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.close-button:hover {
  background-color: #0056b3;
}
