.product-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #D6EEFE;
    border-radius: 10px;
}
.product-container h1 {
    color: #02346D;
}
.product-container-button {
    display: flex;
    justify-content: flex-end;
}
.product-container-button button {
    border: none;
    cursor: pointer;
    background-color: #02346D;
    width: 140px;
    height: 40px;
    border-radius: 5px;
    color: #fff;
}